:root {
	--primary-text-color: #5c5c5e;
	--primary-gradient: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
	--white-color: #ffffff;
	--white-text-color: #f6f4f5;
	--secondary-button-bg-color: #d9d9d9;
}